<a href="https://colab.research.google.com/github/nabilasyafirakka-design/KKA-X-Semester-1/blob/main/Fungsi_print_Nabila_syafira_X_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Nama: Nabila Syafira
Kelas: X-7
Mapel: Kode & Kecerdasan Artifisial (KKA)

In [ ]:
print ("Hello world ")

Hello world

In [ ]:
print ("Belajar Python itu menyenangkan ")

Belajar Python itu menyenangkan

In [ ]:
nama = "Nabila Syafira"
print(nama)

Nabila Syafira

In [ ]:
umur = 14
print (f"umur saya {umur} tahun")

umur saya 14 tahun

In [ ]:
nama = "Nabila syafira"
print ("Halo " + nama)

Halo Nabila syafira

In [ ]:
umur = 14
print("Umur saya", umur, "tahun")

Umur saya 14 tahun

In [ ]:
pembagian = 10 /2
print(pembagian)

5.0

In [ ]:
print (5 + 3)
print ("hasilnya adalah", 5 * 4)

8
hasilnya adalah 20

In [ ]:
print ("Biodata:\nNama:\tNabila Syafira\nUmur:\t14 tahun")
print ("Dia berkata: \"Saya suku Python! \"")
print ("Folder: C:\\Program Files\\Python")

Biodata:
Nama:	Nabila Syafira
Umur:	14 tahun
Dia berkata: "Saya suku Python! "
Folder: C:\Program Files\Python

In [ ]:
print ("""Halo, ini baris pertama.
Ini baris kedua.
Dan ini baris ketiga. """)

Halo, ini baris pertama.
Ini baris kedua.
Dan ini baris ketiga.

In [ ]:
puisi = '''Matahari terbit di ufuk timur
Menyapa bumi dengan hangat
Hari baru, semangat baru'''
print (puisi)

Matahari terbit di ufuk timur
Menyapa bumi dengan hangat
Hari baru, semangat baru

In [ ]:
print ("Halo\nSelamat Pagi\nApa kabar? ")

Halo
Selamat Pagi
Apa kabar?

In [ ]:
print("A", "B", "C") # Deafult - spasi
print("A", "B", "C", sep="-") # Separator - strip
print ("2025", "08", "11", sep="/") # Separator - tanda â€™/'

A B C
A-B-C
2025/08/11

In [ ]:
print("Hello", end=" ") # end = spasi
print("WorldWorld")

print ("A", end="-" # end=strip
print ("B")

SyntaxError: '(' was never closed (ipython-input-1689589365.py, line 4)

In [ ]:
print ("Python", "Java", " C++", sep=", ", end=" <-- Selesai\n")

Python, Java,  C++ <-- Selesai

In [ ]:
harga_telur = 26000
nama_pembeli = "Nabila"

print("Harga telur adalah ", harga_telur, " per kilogram ")
print ("Nama pembeli telur adalah", nama_pembeli)

Harga telur adalah  26000  per kilogram
Nama pembeli telur adalah Nabila

In [ ]:
print("Harga telur adalah " + str (harga_telur) + " per kilogram ")
print ("Nama pembeli telur adalah " + nama_pembeli)

Harga telur adalah 26000 per kilogram
Nama pembeli telur adalah Nabila

In [ ]:
print(f"Harga telur adalah {harga_telur} per kilogram")
print (f"Nama pembeli telur adalah {nama_pembeli}")

Harga telur adalah 26000 per kilogram
Nama pembeli telur adalah Nabila

#Escape Character

In [ ]:
print("Nama: Nabila syafira")
print("Kelas: X.7")
print("Nomor absen: 28")

Nama: Nabila syafira
Kelas: X.7
Nomor absen: 28

In [ ]:
print("Nama\t\t: Nabila Syafira\nKelas\t\t: X.7\nNomor absen\t: 28")

Nama		: Nabila Syafira
Kelas		: X.7
Nomor absen	: 28

In [ ]:
print("""Nama: Nabila syafira
Kelas:X.7
Nomor absen: 28""")

Nama: Nabila syafira
Kelas:X.7
Nomor absen: 28

In [ ]:
print("Nama: Habib Jafar")

Nama: Habib Jafar

In [ ]:
print('Nama: Habib Jafar')

Nama: Habib Jafar

In [ ]:
print ('Nama: Habib Ja\'far')

Nama: Habib Ja'far

In [ ]:
print("Nama: Habib Ja'far")

Nama: Habib Ja'far

In [ ]:
print("Bu Shinta berkata, \"Tenang fokus sejenak!\".")

Bu Shinta berkata, "Tenang fokus sejenak!".

In [ ]:
print('Bu Shinta berkata, "Tenang fokus sejenak! ".')

Bu Shinta berkata, "Tenang fokus sejenak! ".

In [ ]:
print("Lokasi penyimpanan tugas KKA ada di Local disk D:\\KKA\\Tugas")

Lokasi penyimpanan tugas KKA ada di Local disk D:\KKA\Tugas

#Parameter Fungsi Print

In [ ]:
Tanggal = 15
Bulan = "Januari"
Tahun = 2011

#15-Januari-2011
print(Tanggal)
print(Bulan)
print(Tahun)

15
Januari
2011

In [ ]:
#15-Januari-2011
print(Tanggal, Bulan, Tahun, sep="-")

15-Januari-2011

In [ ]:
#15-Januari-2011
print(Tanggal, end="-")
print(Bulan, end="-")
print(Tahun)

15-Januari-2011